dong/node-red/data/.flows.json.backup
[{"id":"dd3c442e.36ee38","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"a4a988b9.2e59b8","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"16929404.b2eabc","type":"tab","label":"Flow 1"},{"id":"69663248.8df44c","type":"influxdb","z":"dd3c442e.36ee38","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""},{"id":"33f4cd57.51d2f2","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"fa1d3b67.ee8ed8","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"220b1505.3e914a","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"iot","name":"","usetls":false,"tls":""},{"id":"dba27faf.94f2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"753c1314.27ab0c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""},{"id":"3df7710a.0e4cce","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"icse_iot","tz":""},{"id":"502f9ded.5e5504","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"67b16c59.85ead4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""},{"id":"5a6d4610.eb8468","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"35be4bc8.b9b054","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3de395b4.908faa","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"cea6a36a.285fc","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"361c11b9.7d9f5e","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f55932aa.7fc18","type":"http in","z":"dd3c442e.36ee38","name":"","url":"device/api/info","method":"get","upload":false,"swaggerDoc":"","x":112,"y":106,"wires":[["4b2f264f.bc1c38"]]},{"id":"66826164.a3a52","type":"function","z":"dd3c442e.36ee38","name":"get sensor info","func":"msg.query = \"select * from sensor;\";\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":356,"wires":[["4016591a.4f7c18"]]},{"id":"cb7bfde3.7f31","type":"http in","z":"dd3c442e.36ee38","name":"","url":"sensor/api/info","method":"get","upload":false,"swaggerDoc":"","x":95,"y":296,"wires":[["66826164.a3a52"]]},{"id":"60e6f9ff.0d3378","type":"function","z":"dd3c442e.36ee38","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let sensor = msg.payload[i];\n    payload.push({\n        macAddr: sensor.macAddr, \n        sensorID: sensor.name, \n\t\tsensorStatus: sensor.status, \n\t\tcreatedAt: sensor.created_at\n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":716,"y":249,"wires":[["18678cfa.8dc873"]]},{"id":"18678cfa.8dc873","type":"http response","z":"dd3c442e.36ee38","name":"","statusCode":"","headers":{},"x":1104,"y":313,"wires":[]},{"id":"c928a9d8.89bed8","type":"http in","z":"dd3c442e.36ee38","name":"","url":"device/api/logs","method":"get","upload":false,"swaggerDoc":"","x":163,"y":490,"wires":[["3fb59396.65d5ac"]]},{"id":"3fb59396.65d5ac","type":"function","z":"dd3c442e.36ee38","name":"create query device logs ","func":"let macAddr = msg.payload.macAddr;\nmsg.query = \"select time,deviceStatus from devices_and_sensors where macAddr='\" + macAddr + \"' and isDevice=True;\";\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":489,"wires":[["e1e707f7.59f6a8"]]},{"id":"9080cbc7.740ff8","type":"http in","z":"dd3c442e.36ee38","name":"","url":"sensor/api/logs","method":"get","upload":false,"swaggerDoc":"","x":158,"y":564,"wires":[["8fd3e36e.cee62"]]},{"id":"8fd3e36e.cee62","type":"function","z":"dd3c442e.36ee38","name":"create query sensor logs ","func":"let sensorID = msg.payload.sensorID;\nmsg.query = \"select time,sensorStatus from devices_and_sensors where sensorID='\" + sensorID + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":563,"wires":[["4e6c307b.a6e39"]]},{"id":"86a78637.6f5928","type":"http in","z":"dd3c442e.36ee38","name":"","url":"/realtime-chart/api/device/initData","method":"get","upload":false,"swaggerDoc":"","x":155,"y":651,"wires":[["fc569046.c9d25"]]},{"id":"da613.feb4d9ed","type":"function","z":"dd3c442e.36ee38","name":"add query init data","func":"msg.sensors = msg.payload;\n\nlet macAddr = msg.macAddr;\nlet endTime = Date.now();\nlet startTime = endTime - 60*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where macAddr='\" + \n    macAddr + \"' and \" + \n    \"time >= \"+ startTime + \" and \" + \n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":683,"wires":[["93d2683b.dc83d8"]]},{"id":"87a6c79e.e407e8","type":"function","z":"dd3c442e.36ee38","name":"format init data response","func":"var units_range = {\n    c: {min: 1, max: 100},\n    lux: {min: 1, max: 100},\n    humi: {min: 1, max: 65535}\n};\n\nvar groupLineChart = [\n    {unit: \"\", lines: []},\n    {unit: \"Lux\", lines: []}\n]\n\nfor(let i = 0;i<msg.sensors.length;i++){\n    msg.sensors[i].timeSeriesData = [];\n    msg.sensors[i].sensorID = msg.sensors[i].name;\n}\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j = 0; j < msg.sensors.length; j++) {\n        if (msg.payload[i].name === msg.sensors[j].name) {\n            msg.sensors[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            break;\n        }\n    }\n    // if (is_new_sensor) {\n    //     let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].sensorID,\n    //         msg.payload[i].unit);\n    //     new_sensor.timeSeriesData.push({\n    //         time: msg.payload[i].time,\n    //         value: msg.payload[i].value\n    //     })\n    //     initSensorsData.push(new_sensor);\n    // }\n}\n\nfor (let i = 0; i < msg.sensors.length; i++) {\n    if (msg.sensors[i].unit.toLowerCase() === 'c' ||\n        msg.sensors[i].unit.toLowerCase() === '%') {\n        groupLineChart[0].lines.push(msg.sensors[i]);\n        groupLineChart[0].unit += \" / \" + msg.sensors[i].unit;\n    }\n    if (msg.sensors[i].unit.toLowerCase() === 'lux') {\n        groupLineChart[1].lines.push(msg.sensors[i]);\n    }\n}\n\ngroupLineChart[0].unit = groupLineChart[0].unit.slice(3, groupLineChart[0].unit.length);\n\nmsg.payload = groupLineChart;\nreturn msg;","outputs":1,"noerr":0,"x":893,"y":628,"wires":[["18678cfa.8dc873"]]},{"id":"701844c6.06eefc","type":"http in","z":"dd3c442e.36ee38","name":"","url":"dashboard","method":"get","upload":false,"swaggerDoc":"","x":181,"y":34,"wires":[["4a821498.7bd79c"]]},{"id":"da02dfe5.3c06d","type":"http in","z":"dd3c442e.36ee38","name":"","url":"/realtime-chart/api/sensor/latestData","method":"get","upload":false,"swaggerDoc":"","x":165,"y":852,"wires":[["2bc79f87.7b9a3"]]},{"id":"2bc79f87.7b9a3","type":"function","z":"dd3c442e.36ee38","name":"add query latest data","func":"msg.macAddr = msg.payload.macAddr;\n\nmsg.arrSensorID = msg.payload.sensorIDs.split(',');\nlet sensor_query = \"\";\nfor(let i = 0;i<msg.arrSensorID.length;i++){\n    if(msg.arrSensorID[i]){\n        sensor_query += \"or \\\"name\\\" = '\" + msg.arrSensorID[i] + \"' \";\n    }\n}\n\nsensor_query = sensor_query.slice(2, sensor_query.length);\n\nlet endTime = Date.now();\nlet startTime = endTime - 5*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where \" +\n    sensor_query + \" and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":936,"wires":[["3d0dad80.7367d2"]]},{"id":"aaaacade.bc8db8","type":"function","z":"dd3c442e.36ee38","name":"format latest data response","func":"var initSensorsData = [];\nvar Sensor = function (macAddr, sensorID) {\n    this.macAddr = macAddr;\n    this.sensorID = sensorID;\n    // this.unit = unit;\n    this.timeSeriesData = [] // {\"time\": \"\", \"value\": };\n}\n\nfor (let i=0;i<msg.payload.length;i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j=0;j<initSensorsData.length;j++) {\n        if (msg.payload[i].name === initSensorsData[j].sensorID) {\n            initSensorsData[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            is_new_sensor = false;\n            break;\n        }\n    }\n    if (is_new_sensor) {\n        let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].name);\n        new_sensor.timeSeriesData.push({\n            time: msg.payload[i].time,\n            value: msg.payload[i].value\n        })\n        initSensorsData.push(new_sensor);\n    }\n}\nmsg.payload = initSensorsData;\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":929,"wires":[["18678cfa.8dc873"]]},{"id":"4a821498.7bd79c","type":"dashboard","z":"dd3c442e.36ee38","name":"","x":416,"y":40,"wires":[["18678cfa.8dc873"]]},{"id":"4b2f264f.bc1c38","type":"function","z":"dd3c442e.36ee38","name":"get device info","func":"msg.query = \"select * from device;\";\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":130,"wires":[["b85335c5.56f7d8"]]},{"id":"662ccad3.ce6944","type":"debug","z":"dd3c442e.36ee38","name":"","active":true,"console":"false","complete":"false","x":649,"y":214,"wires":[]},{"id":"fc569046.c9d25","type":"function","z":"dd3c442e.36ee38","name":"get device's sensor ","func":"msg.macAddr = msg.payload.macAddr;\nmsg.query = \"select * from sensor where macAddr='\" + msg.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":214,"y":719,"wires":[["abcc9caf.58626"]]},{"id":"b85335c5.56f7d8","type":"mysql-query","z":"dd3c442e.36ee38","mydb":"3de395b4.908faa","name":"","queryString":"","outputTo":"payload","x":561,"y":132,"wires":[["18678cfa.8dc873"]]},{"id":"4016591a.4f7c18","type":"mysql-query","z":"dd3c442e.36ee38","mydb":"3de395b4.908faa","name":"","queryString":"","outputTo":"payload","x":499,"y":307,"wires":[["662ccad3.ce6944","18678cfa.8dc873"]]},{"id":"abcc9caf.58626","type":"mysql-query","z":"dd3c442e.36ee38","mydb":"3de395b4.908faa","name":"","queryString":"","outputTo":"payload","x":388,"y":759,"wires":[["da613.feb4d9ed"]]},{"id":"e1e707f7.59f6a8","type":"influxdb-write-data","z":"dd3c442e.36ee38","name":"query device logs","influxdbServer":"33f4cd57.51d2f2","dataInput":"query","measurement":"","outputTo":"payload","x":786,"y":455,"wires":[["18678cfa.8dc873"]]},{"id":"4e6c307b.a6e39","type":"influxdb-write-data","z":"dd3c442e.36ee38","name":"query device logs","influxdbServer":"33f4cd57.51d2f2","dataInput":"query","measurement":"","outputTo":"payload","x":790,"y":559,"wires":[["18678cfa.8dc873"]]},{"id":"93d2683b.dc83d8","type":"influxdb-write-data","z":"dd3c442e.36ee38","name":"query device logs","influxdbServer":"33f4cd57.51d2f2","dataInput":"query","measurement":"","outputTo":"payload","x":691,"y":690,"wires":[["87a6c79e.e407e8"]]},{"id":"3d0dad80.7367d2","type":"influxdb-write-data","z":"dd3c442e.36ee38","name":"query device logs","influxdbServer":"33f4cd57.51d2f2","dataInput":"query","measurement":"","outputTo":"payload","x":569,"y":860,"wires":[["aaaacade.bc8db8"]]},{"id":"aad2c948.d31d58","type":"debug","z":"a4a988b9.2e59b8","name":"","active":true,"console":"false","complete":"true","x":598,"y":87,"wires":[]},{"id":"c4ca872a.09b548","type":"inject","z":"a4a988b9.2e59b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":250,"wires":[["326a0e37.1ea482"]]},{"id":"326a0e37.1ea482","type":"function","z":"a4a988b9.2e59b8","name":"test query","func":"msg.query = \"select name from sensor where macAddr = 'ab:bc:1e';\";\nreturn msg;","outputs":1,"noerr":0,"x":256,"y":251,"wires":[["fbecb9f4.48e038"]]},{"id":"a675fccf.c8d6","type":"function","z":"a4a988b9.2e59b8","name":"query device","func":"msg.payload = JSON.parse(msg.payload);\nmsg.newDevice = msg.payload;\nmsg.query = \"select * from sensor where macAddr = '\" + msg.payload.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":365,"wires":[["2cd9c93f.562ba6"]]},{"id":"cd091aae.77a268","type":"inject","z":"a4a988b9.2e59b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":84,"y":168,"wires":[["314af3eb.6e305c"]]},{"id":"6fe7a66a.ca1c68","type":"inject","z":"a4a988b9.2e59b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":78,"y":108,"wires":[["f8ce4da2.77063"]]},{"id":"33c3b919.2507c6","type":"mqtt in","z":"a4a988b9.2e59b8","name":"","topic":"bkcloud/newDevice","qos":"2","broker":"fa1d3b67.ee8ed8","x":95,"y":423,"wires":[["a675fccf.c8d6"]]},{"id":"65ec59d8.126dc8","type":"function","z":"a4a988b9.2e59b8","name":"check device and sensors exist","func":"// msg.newDevice: contain device register\n\nlet newSensors = [];\nmsg.query = \"\";\nif(msg.payload.length){\n    for(let i = 0;i<msg.newDevice.sensors.length;i++){\n        let sensor = msg.newDevice.sensors[i];\n        let is_new_sensor = true;\n        for(let j = 0;j<msg.payload.length;j++){\n            let oldSensor = msg.payload[j];\n            if(sensor.name === oldSensor.name){\n                is_new_sensor = false;\n                break;\n            }\n        }\n        if(is_new_sensor){\n            newSensors.push(sensor);\n        }\n    }\n} else{\n    // device didn't register\n    newSensors = msg.newDevice.sensors;\n    msg.query += \"insert into device (macAddr, type, status, created_at) values('\" +\n            msg.newDevice.macAddr + \"','\" + msg.newDevice.type + \"', 'ONLINE', now());\";\n}\n\nif(newSensors.length) {\n    msg.query += \"insert into sensor (name,macAddr, unit, status, created_at) values\";\n    for(let i = 0;i<newSensors.length;i++){\n        let newSensor = newSensors[i];\n        msg.query += \"('\" + newSensor.name + \"','\"+ msg.newDevice.macAddr + \"','\" + newSensor.unit + \"','ONLINE', now()),\";\n    }\n    msg.query = msg.query.replace(/.$/,\";\");\n    msg.newSensors = newSensors;\n    return [msg, null];\n}\nreturn [null, msg];\n","outputs":"2","noerr":0,"x":541,"y":434,"wires":[["ef3c2a1e.a90a88"],["ad3fac96.723b9"]]},{"id":"df7ef325.5209c","type":"mqtt out","z":"a4a988b9.2e59b8","name":"response to device","topic":"","qos":"","retain":"","broker":"fa1d3b67.ee8ed8","x":1128,"y":403,"wires":[]},{"id":"ad3fac96.723b9","type":"function","z":"a4a988b9.2e59b8","name":"message to ESP","func":"let message_response = {\n    topic: \"icse/\" + msg.newDevice.macAddr + \"/action\",\n    payload: {type: \"register\",status: \"OK\"}\n}\nreturn message_response;","outputs":1,"noerr":0,"x":901,"y":427,"wires":[["df7ef325.5209c"]]},{"id":"67b8ab4c.826fa4","type":"function","z":"a4a988b9.2e59b8","name":"save device logs","func":"// msg.newSensors: new sensors\n// msg.measurement = msg.newDevice.macAddr + \"_logs\";\nmsg.payload = [];\n// save device status\nmsg.payload.push([\n    {status: \"ONLINE\"},\n    {\n        name: msg.newDevice.macAddr,\n        macAddr: msg.newDevice.macAddr\n    }\n])\n\nfor(let i = 0;i<msg.newSensors.length;i++){\n    msg.payload.push([\n        {status: \"ONLINE\"},\n        {\n            name: msg.newSensors[i].name,\n            macAddr: msg.newDevice.macAddr\n        }\n    ])\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":896,"y":324,"wires":[["418de315.f4b77c"]]},{"id":"418de315.f4b77c","type":"influxdb out","z":"a4a988b9.2e59b8","influxdb":"220b1505.3e914a","name":"","measurement":"logs","precision":"","retentionPolicy":"","x":1130,"y":335,"wires":[]},{"id":"a3e47363.47092","type":"mqtt in","z":"a4a988b9.2e59b8","name":"","topic":"bkcloud/data","qos":"2","broker":"fa1d3b67.ee8ed8","x":81,"y":533,"wires":[[]]},{"id":"45046dc4.179b94","type":"inject","z":"a4a988b9.2e59b8","name":"interval time check device status","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":618,"wires":[["9687fe65.55005"]]},{"id":"356b56fb.60d42a","type":"function","z":"a4a988b9.2e59b8","name":"check device status","func":"\n\nif(msg.msgType === \"deviceCome\") {\n    // save the devices macAddr when receive data from it\n    let devicesMacAddrLive = context.get('devicesMacAddrLive') || [];\n    let deviceCome = msg.payload;\n    let isExist = false;\n    for (let i = 0; i < devicesMacAddrLive.length; i++) {\n        if (deviceCome.macAddr === devicesMacAddrLive[i]) {\n            isExist = true;\n            break;\n        }\n    }\n    if (!isExist) {\n        devicesMacAddrLive.push(deviceCome.macAddr);\n    }\n// store the devicesMacAddrLive back\n    context.set('devicesMacAddrLive', devicesMacAddrLive);\n    return null;\n} else {\n//    check device status: msg.msgType = checkDevicesStatus\n    let devicesMacAddrLive = context.get('devicesMacAddrLive') || [];\n    let currentDevices = msg.payload;\n    let onlineDevicesMacAddr = [];\n    let offlineDevicesMacAddr = [];\n    for(let i = 0;i<currentDevices.length;i++){\n        let isOnline = false;\n        for(let j = 0;j<devicesMacAddrLive.length;j++){\n            if(currentDevices[i].macAddr === devicesMacAddrLive[j]){\n                isOnline = true;\n                break;\n            }\n        }\n        if(isOnline){\n            onlineDevicesMacAddr.push(currentDevices[i].macAddr);\n        } else {\n            offlineDevicesMacAddr.push(currentDevices[i].macAddr);\n        }\n    }\n    devicesMacAddrLive = [];\n    context.set('devicesMacAddrLive', devicesMacAddrLive);\n    msg.onlineDevicesMacAddr = onlineDevicesMacAddr;\n    msg.offlineDevicesMacAddr = offlineDevicesMacAddr;\n    return msg;\n}","outputs":"1","noerr":0,"x":579,"y":506,"wires":[["faa28824.f1acf8"]]},{"id":"faa28824.f1acf8","type":"debug","z":"a4a988b9.2e59b8","name":"","active":true,"console":"false","complete":"true","x":757,"y":543,"wires":[]},{"id":"9687fe65.55005","type":"function","z":"a4a988b9.2e59b8","name":"add query devices status","func":"msg.query = \"select macAddr,status from device\";\nmsg.msgType = \"checkDevicesStatus\";\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":712,"wires":[["8f03aa81.4486e8"]]},{"id":"cffa9f88.deddd","type":"function","z":"a4a988b9.2e59b8","name":"format data","func":"msg.payload = JSON.parse(msg.payload);\nmsg.msgType = \"deviceCome\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":529,"wires":[["356b56fb.60d42a"]]},{"id":"38fe903d.075cc","type":"mqtt in","z":"a4a988b9.2e59b8","name":"","topic":"bkcloud/data","qos":"2","broker":"fa1d3b67.ee8ed8","x":115,"y":826,"wires":[["a490be94.7d324"]]},{"id":"a490be94.7d324","type":"function","z":"a4a988b9.2e59b8","name":"save data","func":"// msg.newSensors: new sensors\nmsg.payload = JSON.parse(msg.payload);\nlet payload = [];\n// save device data\n\nfor(let i = 0;i<msg.payload.sensorsData.length;i++){\n    let sensor = msg.payload.sensorsData[i];\n    if(typeof(sensor.value) !== \"boolean\"){\n        payload.push([\n            {value: sensor.value, unit: sensor.unit},\n            {\n                name: sensor.name,\n                macAddr:msg.payload.macAddr\n            }\n        ])\n    }\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":832,"wires":[["78fa4c67.838c44"]]},{"id":"78fa4c67.838c44","type":"influxdb out","z":"a4a988b9.2e59b8","influxdb":"220b1505.3e914a","name":"","measurement":"data","precision":"","retentionPolicy":"","x":612,"y":829,"wires":[]},{"id":"8f03aa81.4486e8","type":"mysql-query","z":"a4a988b9.2e59b8","mydb":"","name":"","queryString":"","outputTo":"payload","x":469,"y":640,"wires":[["356b56fb.60d42a"]]},{"id":"2cd9c93f.562ba6","type":"mysql-query","z":"a4a988b9.2e59b8","mydb":"","name":"","queryString":"","outputTo":"payload","x":431,"y":371,"wires":[["65ec59d8.126dc8"]]},{"id":"ef3c2a1e.a90a88","type":"mysql-query","z":"a4a988b9.2e59b8","mydb":"","name":"","queryString":"","outputTo":"payload","x":712,"y":377,"wires":[["67b8ab4c.826fa4","ad3fac96.723b9"]]},{"id":"fbecb9f4.48e038","type":"mysql-query","z":"a4a988b9.2e59b8","mydb":"","name":"","queryString":"","outputTo":"payload","x":508,"y":175,"wires":[["aad2c948.d31d58"]]},{"id":"f8ce4da2.77063","type":"function","z":"a4a988b9.2e59b8","name":"create table device","func":"msg.query = \"CREATE TABLE device (\" + \n// \"id INT AUTO_INCREMENT NOT NULL,\" +\n\"macAddr VARCHAR(30) NOT NULL,\" +\n\"type VARCHAR(10) NOT NULL,\" +\n\"status VARCHAR(50) NOT NULL,\" +\n\"created_at DATETIME NOT NULL,\" +\n\"PRIMARY KEY (macAddr))\";\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":78,"wires":[["fbecb9f4.48e038"]]},{"id":"314af3eb.6e305c","type":"function","z":"a4a988b9.2e59b8","name":"create table sensor","func":"msg.query = \"CREATE TABLE sensor (\" + \n// \"id INT NOT NULL,\" +\n\"name VARCHAR(30) NOT NULL,\" +\n\"macAddr VARCHAR(30) NOT NULL,\" +\n\"unit VARCHAR(10),\" +\n\"status VARCHAR(50) NOT NULL,\" +\n\"created_at DATETIME NOT NULL,\" +\n\"PRIMARY KEY (name, macAddr),\" +\n\"CONSTRAINT fk_device FOREIGN KEY (macAddr) REFERENCES device(macAddr) ON DELETE CASCADE)\";\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":162,"wires":[["fbecb9f4.48e038"]]},{"id":"c96b0a26.5fc248","type":"http response","z":"dd3c442e.36ee38","name":"","statusCode":"","headers":{},"x":825,"y":1032,"wires":[]},{"id":"807d2eb2.6234e","type":"http in","z":"dd3c442e.36ee38","name":"","url":"sensor/api/count","method":"get","upload":false,"swaggerDoc":"","x":154,"y":1034,"wires":[["b700e9fe.e23598"]]},{"id":"b700e9fe.e23598","type":"mysql-query","z":"dd3c442e.36ee38","mydb":"3de395b4.908faa","name":"","queryString":"select count(*) as count from sensor;","outputTo":"payload","x":398,"y":1031,"wires":[["6fcb15c3.0f95bc"]]},{"id":"6fcb15c3.0f95bc","type":"function","z":"dd3c442e.36ee38","name":"format data response","func":"msg.payload = msg.payload[0].count;\nreturn msg;","outputs":1,"noerr":0,"x":598,"y":1033,"wires":[["c96b0a26.5fc248"]]},{"id":"e3f010d6.0ebcd","type":"debug","z":"dd3c442e.36ee38","name":"","active":true,"console":"false","complete":"true","x":755,"y":1273,"wires":[]},{"id":"a2f88177.4761e","type":"http in","z":"dd3c442e.36ee38","name":"","url":"/latestUnitData","method":"get","upload":false,"swaggerDoc":"","x":132,"y":1138,"wires":[["23f29b44.c36aa4"]]},{"id":"23f29b44.c36aa4","type":"function","z":"dd3c442e.36ee38","name":"generate query","func":"let unit = msg.payload.unit;\nmsg.payload.query = \"select last(value) as latestValue from data where \\\"unit\\\"='\" + unit + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":1136,"wires":[["3dd7e957.2dc506"]]},{"id":"3dd7e957.2dc506","type":"influxdb-query","z":"dd3c442e.36ee38","name":"query latest data unit","influxdbServer":"33f4cd57.51d2f2","queryString":"","outputTo":"payload","x":637,"y":1133,"wires":[["c96b0a26.5fc248"]]},{"id":"e7119d9e.35342","type":"influxdb-query","z":"dd3c442e.36ee38","name":"query avareage temperature","influxdbServer":"33f4cd57.51d2f2","queryString":"","outputTo":"payload","x":524,"y":1294,"wires":[["2c5cb481.eed20c"]]},{"id":"6333f80a.dc8bd8","type":"function","z":"dd3c442e.36ee38","name":"generate query for 7 day left","func":"let query = \"\";\n// select mean(value) from data where \"unit\"='C' and time > now() - 5m and time < now() - 2m;\nlet range = 5; // minute\nlet column = 7; \nfor(let i = column;i>0;i--){\n    query += \"select mean(value) as value from data where \\\"unit\\\"='C' \" + \n\t\t\t \"and time > now() - \" + range * i + \"m and time < now() - \" + range * (i - 1) + \"m;\"\n}\nmsg.payload = {};\nmsg.payload.query = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":1219,"wires":[["e7119d9e.35342"]]},{"id":"2c5cb481.eed20c","type":"function","z":"dd3c442e.36ee38","name":"format data response","func":"let result = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let data = msg.payload[i][0];\n    result.push(data);\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":728,"y":1199,"wires":[["c96b0a26.5fc248","e3f010d6.0ebcd"]]},{"id":"26668184.84e12e","type":"http in","z":"dd3c442e.36ee38","name":"","url":"temperatureAvarage","method":"get","upload":false,"swaggerDoc":"","x":162,"y":1293,"wires":[["6333f80a.dc8bd8"]]},{"id":"8a5404c8.a733e8","type":"mqtt in","z":"16929404.b2eabc","name":"","topic":"bkcloud/newDevice","qos":"2","broker":"35be4bc8.b9b054","x":113,"y":282.95001220703125,"wires":[["ad978fcf.8aa88"]]},{"id":"d6c93751.6613d8","type":"inject","z":"16929404.b2eabc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":58,"wires":[["b2737dc4.4b1fa"]]},{"id":"b2737dc4.4b1fa","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"check table exist","queryString":"SHOW TABLES LIKE 'device';\nSHOW TABLES LIKE 'sensor';\n","outputTo":"queryResult","x":368.8833312988281,"y":53.883331298828125,"wires":[["c4563827.f510f8"]]},{"id":"c4563827.f510f8","type":"function","z":"16929404.b2eabc","name":"send init tbl command","func":"var tbl_exist = 0;\nfor (let i=0;i<2;i++){\n    if(msg.queryResult[i].length>=1){\n        tbl_exist+=1;\n    }\n}\nif(tbl_exist<2){\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":598.8833312988281,"y":53.883331298828125,"wires":[["2a14decd.c72fb2"]]},{"id":"2a14decd.c72fb2","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"init tables if not exist","queryString":"CREATE TABLE device (\nmacAddr \tVARCHAR(255) \tNOT NULL,\ntype\t\tVARCHAR(255) \tNOT NULL,\nstatus \t\tVARCHAR(255) \tNOT NULL,\ncreated_at \tDATETIME \tNOT NULL,\nlast_update DATETIME    NOT NULL,\nPRIMARY KEY (macAddr)\n);\n\n\nCREATE TABLE sensor (\nname \t\tVARCHAR(255)\t\tNOT NULL,\nmacAddr \tVARCHAR(255) \tNOT NULL,\nunit \t\tVARCHAR(255),\nstatus \t\tVARCHAR(255) \tNOT NULL,\ncreated_at \tDATETIME\tNOT NULL,\nlast_update DATETIME    NOT NULL,\nPRIMARY KEY (name, macAddr),\nCONSTRAINT fk_device FOREIGN KEY (macAddr) REFERENCES device(macAddr) ON DELETE CASCADE\n);\n","outputTo":"queryResult","x":838.8833312988281,"y":53.883331298828125,"wires":[["bfbe04b4.c14b08"]]},{"id":"bfbe04b4.c14b08","type":"debug","z":"16929404.b2eabc","name":"","active":true,"console":"false","complete":"true","x":1030,"y":60,"wires":[]},{"id":"ad978fcf.8aa88","type":"function","z":"16929404.b2eabc","name":"parse payload msg","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":179,"y":162,"wires":[["32d95db9.535be2"]]},{"id":"4043a897.396cb8","type":"function","z":"16929404.b2eabc","name":"add device if not exist","func":"var moment = global.get('moment');\nif (msg.deviceQueryResult.length === 0) {\n    // prepare add board query\n    var addBoardQuery = 'INSERT INTO device VALUES(?,?,?,?,?)';\n    var bindQuery = [\n        msg.payload.macAddr, \n        msg.payload.type,\n        'ONLINE',\n        moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\"),\n        moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\")\n    ];\n    var addNewBoardMsg = {\n        payload:msg.payload,\n        query:addBoardQuery,\n        bindQuery:bindQuery\n    };\n    return [addNewBoardMsg, null];\n    // add board device    \n} else {\n    // do nothing    \n    return [null, msg];\n}","outputs":"2","noerr":0,"x":600,"y":280,"wires":[["65c54a12.8997a4"],["ad33102a.8cf95"]]},{"id":"3c634aad.0a0e76","type":"mqtt out","z":"16929404.b2eabc","name":"","topic":"","qos":"","retain":"","broker":"35be4bc8.b9b054","x":1680.7500610351562,"y":294.75,"wires":[]},{"id":"c508259b.65b198","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"check device","queryString":"","outputTo":"deviceQueryResult","x":444.75,"y":160.75,"wires":[["4043a897.396cb8"]]},{"id":"32d95db9.535be2","type":"function","z":"16929404.b2eabc","name":"check device exist","func":"// authenticate msg format\nlet query ='select * from device where macAddr = ?';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [ msg.payload.macAddr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":350,"y":280,"wires":[["c508259b.65b198"]]},{"id":"65c54a12.8997a4","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"add board","queryString":"","outputTo":"queryResult","x":698.75,"y":158.75,"wires":[["ad33102a.8cf95"]]},{"id":"e3798466.f74a38","type":"function","z":"16929404.b2eabc","name":"add sensors if not exists","func":"var moment = global.get('moment');\nfunction checkSensorExist(checkSensor, currentSensors) {\n    var isExist = false;\n    for (var i = 0; i < currentSensors.length; i++) {\n        if (checkSensor.name == currentSensors[i].name) {\n            isExist = true;\n            break;\n        }\n    }\n    return isExist;\n}\n\nfunction createQueryaddNewSensors(newSensors, macAddr) {\n    var addSensorsQuery = '';\n    var bindQuery = [];\n    for (var i = 0; i < newSensors.length; i++) {\n        var newSensor = newSensors[i];\n        addSensorsQuery += 'INSERT INTO sensor VALUES (?, ?, ?,?,?,?); ';\n        bindQuery.push(\n            newSensor.name,\n            macAddr,\n            newSensor.unit, \n            'ONLINE',\n            moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\"),\n            moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\")\n            );\n    }\n    return {\n        query: addSensorsQuery,\n        bindQuery: bindQuery\n    };\n}\n\nvar currentSensors = msg.sensorsQueryResult;\nvar deviceSensors = msg.payload.sensors;\nvar macAddr = msg.payload.macAddr;\nvar newSensors = [];\nfor (var i = 0; i < deviceSensors.length; i++) {\n    checkDeviceSensor = deviceSensors[i];\n    if (checkSensorExist(checkDeviceSensor, currentSensors) === false) {\n        newSensors.push(checkDeviceSensor);\n    }\n}\n\nif (newSensors.length > 0) {\n    var addNewSensorsQuery = createQueryaddNewSensors(newSensors, macAddr);\n    var newMsg = {\n        query:addNewSensorsQuery.query,\n        bindQuery:addNewSensorsQuery.bindQuery,\n        payload: msg.payload\n    };\n    return [newMsg, null];\n} else {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":1144.75,"y":285.75,"wires":[["125c10b.ddf27ef"],["7b154584.86eb2c"]]},{"id":"125c10b.ddf27ef","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"add sensor","queryString":"","outputTo":"addSensorResult","x":1347.75,"y":144.75,"wires":[["7b154584.86eb2c"]]},{"id":"c664f0af.b163a","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"get sensors Info","queryString":"","outputTo":"sensorsQueryResult","x":954.75,"y":156.75,"wires":[["e3798466.f74a38"]]},{"id":"7b154584.86eb2c","type":"function","z":"16929404.b2eabc","name":"send authenticated message","func":"var macAddr = msg.payload.macAddr;\n\nvar authenticatedMsg ={\n    type:'register',\n    status:'OK'\n}\nvar sendAuthenticatedMsg ={\n    topic:'bkcloud/'+macAddr+'/action',\n    payload:authenticatedMsg\n}\nreturn sendAuthenticatedMsg;","outputs":1,"noerr":0,"x":1464.7500610351562,"y":300.75,"wires":[["3c634aad.0a0e76"]]},{"id":"ad33102a.8cf95","type":"function","z":"16929404.b2eabc","name":"get current device sensors","func":"// authenticate msg format\nlet query ='select * from sensor where macAddr = ?';\nlet bindQuery = [ msg.payload.macAddr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":856.75,"y":284.75,"wires":[["c664f0af.b163a"]]},{"id":"f4e2f37b.2bf6","type":"mqtt in","z":"16929404.b2eabc","name":"","topic":"bkcloud/data","qos":"2","broker":"35be4bc8.b9b054","x":70,"y":520,"wires":[["28401d16.90b362"]]},{"id":"92dd3f8a.320f9","type":"influxdb-write-data","z":"16929404.b2eabc","name":"add time serie data","influxdbServer":"cea6a36a.285fc","dataInput":"serieDataList","measurement":"data","outputTo":"writeDataResult","x":1310,"y":480,"wires":[[]]},{"id":"9d97ba01.302b28","type":"function","z":"16929404.b2eabc","name":"valid serie data and write to influxdb","func":"//\tC: [1, 100]; \t%: [0, 100],\tlux: [1, 65535]\nlet macAddr = msg.payload.macAddr;\nlet sensorData = msg.payload.sensorsData;\nlet sensorsInfo = msg.deviceAndSensorsInfo[1];\n\nfunction getSensorInfo(name, macAddr) {\n    for (var i = 0; i < sensorsInfo.length; i++) {\n        if (sensorsInfo[i].name == name && sensorsInfo[i].macAddr == macAddr) {\n            return sensorsInfo[i];\n        }\n    }\n}\n\nlet serieDataList = [];\nmsg.addedSensors = [];\nfor (var i = 0; i < sensorData.length; i++) {\n    let checkSensorData = sensorData[i];\n    var sensorInfo = getSensorInfo(checkSensorData.name, macAddr);\n    // checkSensorData.unit = sensorInfo.unit;\n    if ((sensorInfo.unit == 'Lux' &&checkSensorData.value>=1 &&checkSensorData.value<=65535) ||\n        sensorInfo.unit == 'C' &&checkSensorData.value>=0 &&checkSensorData.value<=100) {\n        serieDataList.push({\n            tags: {\n                'macAddr': macAddr,\n                'name': checkSensorData.name,\n            },\n            fields: {\n                'unit':sensorInfo.unit,\n                'value': checkSensorData.value\n            },\n            time_stamp: msg.receivedTime.getTime() * Math.pow(10, 6)\n        });\n    }\n}\nlet sendMsg = msg;\nif (serieDataList.length > 0) {\n    sendMsg.serieDataList = serieDataList;\n    node.send(sendMsg);\n    // node.send([sendMsg, null]);\n} \n// else {\n//     node.send([null, sendMsg]);\n// }","outputs":"1","noerr":0,"x":1030,"y":480,"wires":[["92dd3f8a.320f9"]]},{"id":"dd79f665.e817d8","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"get Info","queryString":"","outputTo":"deviceAndSensorsInfo","x":600,"y":380,"wires":[["b3e8726e.75e81"]]},{"id":"c66b9900.261728","type":"function","z":"16929404.b2eabc","name":"get db info","func":"// authenticate msg format\nlet query ='select * from device where macAddr = ?;';\nquery +='select * from sensor where macAddr = ?;';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [ msg.payload.macAddr, msg.payload.macAddr];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":510,"y":480,"wires":[["dd79f665.e817d8"]]},{"id":"3f8a1e59.3febd2","type":"mqtt out","z":"16929404.b2eabc","name":"send control msg","topic":"","qos":"","retain":"","broker":"361c11b9.7d9f5e","x":1850,"y":560,"wires":[]},{"id":"b3e8726e.75e81","type":"function","z":"16929404.b2eabc","name":"update database","func":"var moment = global.get('moment');\nlet updateDbQuery = '';\nlet bindQuery =[];\nlet deviceInfo = msg.deviceAndSensorsInfo[0][0];\nlet deviceLastUpdate = new Date(deviceInfo.last_update);\nlet currentTime = msg.receivedTime;\n\nif(currentTime.getTime() - deviceLastUpdate.getTime() > 10000){ //update device last update\n    updateDbQuery+='UPDATE device SET last_update = ?, status=\"ONLINE\" where macAddr = ? ;';    \n    bindQuery.push(\n        moment(currentTime).format(\"YYYY-MM-DD HH:mm:ss\"),\n        msg.payload.macAddr);   \n}\n\nlet sensorsInfo = msg.deviceAndSensorsInfo[1];\nlet sensorsData = msg.payload.sensorsData;\nfor(let i=0;i<sensorsInfo.length;i++){\n    let sensorInfo =  sensorsInfo[i];\n    let sensorExist = false;\n    for (let i=0;i<sensorsData.length;i++){\n        if (sensorsData[i].name ==sensorInfo.name){\n            sensorExist = true;\n            break;\n        }\n    }\n    if(sensorExist===true){\n        let sensorLastUpdate = new Date(sensorInfo.last_update);\n        if(currentTime.getTime() - sensorLastUpdate.getTime() >10000){\n            updateDbQuery+=' UPDATE sensor SET last_update = ?, status=\"ONLINE\" where macAddr = ? and name=? ;';    \n            bindQuery.push(\n                moment(currentTime).format(\"YYYY-MM-DD HH:mm:ss\"),\n                msg.payload.macAddr,\n                sensorInfo.name\n            );   \n        }\n    }\n}\n\nif(updateDbQuery.length>1){\n    msg.query = updateDbQuery;\n    msg.bindQuery = bindQuery;\n    \n    return [msg,null];    \n}else{\n    return [null,msg];\n}\n","outputs":"2","noerr":0,"x":730,"y":480,"wires":[["73e4c7ce.cc5968"],["9d97ba01.302b28"]]},{"id":"73e4c7ce.cc5968","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"update db","queryString":"","outputTo":"queryResult","x":870,"y":380,"wires":[["9d97ba01.302b28"]]},{"id":"5bc96e8c.dab2f","type":"inject","z":"16929404.b2eabc","name":"set device status","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":90,"y":780,"wires":[[]]},{"id":"4c38442.5970abc","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"get sensors Info","queryString":"","outputTo":"sensorsInfo","x":500,"y":780,"wires":[["fae9c005.7dd72"]]},{"id":"483ee0cf.3cce2","type":"function","z":"16929404.b2eabc","name":"get sensors info","func":"// authenticate msg format\nlet query ='select * from sensor';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [];\nmsg.query = query;\nmsg.receivedTime = new Date();\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":300,"y":780,"wires":[["4c38442.5970abc"]]},{"id":"fae9c005.7dd72","type":"function","z":"16929404.b2eabc","name":"get devcies info","func":"// authenticate msg format\nlet query ='select * from device';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":780,"wires":[["11112f48.69a2f1"]]},{"id":"11112f48.69a2f1","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"get devices info","queryString":"","outputTo":"devicesInfo","x":900,"y":780,"wires":[["f76505c5.1b5bf8"]]},{"id":"f76505c5.1b5bf8","type":"function","z":"16929404.b2eabc","name":"update data","func":"var moment = global.get('moment');\nlet updateDbQuery = '';\nlet bindQuery =[];\nlet currentTime = msg.receivedTime;\n\nfor(let i =0;i<msg.devicesInfo.length;i++){\n    let deviceInfo = msg.devicesInfo[i];\n    let deviceLastUpdate = new Date(deviceInfo.last_update);\n    if(currentTime.getTime() - deviceLastUpdate.getTime() > 10000){ //update device last update\n        updateDbQuery+='UPDATE device SET status = \"OFFLINE\" where macAddr = ? ;';    \n        bindQuery.push(\n        deviceInfo.macAddr);    \n    }    \n}\n\nlet sensorsInfo = msg.sensorsInfo;\nfor(let i=0;i<sensorsInfo.length;i++){\n    let sensorInfo =  sensorsInfo[i];\n    let sensorLastUpdate = new Date(sensorInfo.last_update);\n    if(currentTime.getTime() - sensorLastUpdate.getTime() >10000){\n        updateDbQuery+=' UPDATE sensor SET status = \"OFFLINE\" where macAddr = ? and name=? ;';    \n        bindQuery.push(\n            sensorInfo.macAddr,\n            sensorInfo.name\n        );\n    }\n}\n\nif(updateDbQuery.length>1){\n    msg.query = updateDbQuery;\n    msg.bindQuery = bindQuery;\n    node.send(msg);    \n}","outputs":"1","noerr":0,"x":1090,"y":780,"wires":[["b7437e6b.af24d"]]},{"id":"b7437e6b.af24d","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"","queryString":"","outputTo":"queryResult","x":1270,"y":780,"wires":[[]]},{"id":"28401d16.90b362","type":"function","z":"16929404.b2eabc","name":"parse payload - routing msg","func":"msg.payload = JSON.parse(msg.payload);\nmsg.receivedTime = new Date();\nlet msgType =  msg.payload.type;\n\nif(msgType=='data'){ // forward msg to process data message flow\n    node.send([msg,null]);\n}else if(msgType=='motion'){ // forward msg to process motion message flow\n    node.send([null,msg]);\n    \n}\n","outputs":"2","noerr":0,"x":280,"y":520,"wires":[["c66b9900.261728"],["3362b186.a7a46e"]],"outputLabels":["flow process data message","flow process motion message"]},{"id":"3362b186.a7a46e","type":"function","z":"16929404.b2eabc","name":"get db info","func":"// authenticate msg format\nlet query ='select * from device where macAddr = ?;';\nquery +='select * from sensor where macAddr = ? and name=?;';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [ \n    msg.payload.macAddr, \n    msg.payload.macAddr, \n    msg.payload.name\n    ];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":510,"y":560,"wires":[["8d2881af.33c34"]]},{"id":"8d2881af.33c34","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"get Info","queryString":"","outputTo":"deviceAndSensorsInfo","x":620,"y":660,"wires":[["809f986f.8355b8"]]},{"id":"809f986f.8355b8","type":"function","z":"16929404.b2eabc","name":"update database","func":"var moment = global.get('moment');\nlet updateDbQuery = '';\nlet bindQuery =[];\nlet deviceInfo = msg.deviceAndSensorsInfo[0][0];\nlet motionSensorInfo = msg.deviceAndSensorsInfo[1][0];\nlet deviceLastUpdate = new Date(deviceInfo.last_update);\nlet motionSensorLastUpdate =new Date(motionSensorInfo.last_update);\nlet receivedTime = msg.receivedTime;\n\nif(receivedTime.getTime() - deviceLastUpdate.getTime() > 10000){ //update device last update\n    updateDbQuery+='UPDATE device SET last_update = ?, status=\"ONLINE\" where macAddr = ? ;';    \n    bindQuery.push(\n        moment(receivedTime).format(\"YYYY-MM-DD HH:mm:ss\"),\n        msg.payload.macAddr);   \n}\n\nif(receivedTime.getTime() - motionSensorLastUpdate.getTime() > 10000){ //update motion sensor last update\n    updateDbQuery+='UPDATE sensor SET last_update = ?, status=\"ONLINE\" where macAddr = ? and name = ? ;';    \n    bindQuery.push(\n        moment(receivedTime).format(\"YYYY-MM-DD HH:mm:ss\"),\n        msg.payload.macAddr,\n        msg.payload.name\n    );   \n}\n\nif(updateDbQuery.length>1){\n    msg.query = updateDbQuery;\n    msg.bindQuery = bindQuery;\n    \n    return [null,msg];    \n}else{\n    return [msg,null];\n}\n","outputs":"2","noerr":0,"x":730,"y":560,"wires":[["5826eff0.f35aa"],["e0b14fec.82505"]]},{"id":"e0b14fec.82505","type":"mysql-query","z":"16929404.b2eabc","mydb":"3de395b4.908faa","name":"update db","queryString":"","outputTo":"queryResult","x":930,"y":640,"wires":[["5826eff0.f35aa"]]},{"id":"5826eff0.f35aa","type":"influxdb-query","z":"16929404.b2eabc","name":"query last light data","influxdbServer":"cea6a36a.285fc","queryString":"SELECT last(value) as value, time FROM data \nWHERE macAddr = '{{msg.payload.macAddr}}' and unit= 'Lux'","outputTo":"lastLightData","x":1080,"y":560,"wires":[["ad8719f1.9b02f8"]]},{"id":"50ca560.c6182ac","type":"function","z":"16929404.b2eabc","name":"send action to device","func":"let currentTime = (new Date(msg.receivedTime)).getTime();\nlet lastLightData = msg.lastLightData[0];\nlet lastTempData = msg.lastTempData[0];\nif (currentTime - (new Date(lastLightData.time)).getTime() <= 30000 &&\n    currentTime - (new Date(lastTempData.time)).getTime() <= 30000 &&\n    lastLightData.value > 100 && lastTempData.value > 30) {\n        let deviceTopic = 'bkcloud/'+msg.payload.macAddr+'/action';\n        let sendActionMsg = {\n            topic:deviceTopic,\n            payload:{\n                type: \"servoAction\",\n                action: \"ON\"    \n            }\n        };\n        node.send(sendActionMsg);\n}","outputs":1,"noerr":0,"x":1620,"y":560,"wires":[["3f8a1e59.3febd2"]]},{"id":"ad8719f1.9b02f8","type":"influxdb-query","z":"16929404.b2eabc","name":"query last temperature data","influxdbServer":"cea6a36a.285fc","queryString":"SELECT last(value) as value, time FROM data \nWHERE macAddr = '{{msg.payload.macAddr}}' and unit= 'C'","outputTo":"lastTempData","x":1360,"y":560,"wires":[["50ca560.c6182ac"]]}]